.main-wrapper {
    width: 80%;
    margin: 0 auto;
}
.single-wrapper {
    padding-bottom: 10px;
    border: solid black 1px;
    border-radius: 15px;
    text-align: left;
}
.single-wrapper > img {
    display: block;
    margin: 0 auto;
}
.single-wrapper > span {
    display: block;
    text-align: center;
}
a.pagination-item {
    text-decoration: underline;
    margin-right: 8px;
    padding: 5px;
    border: solid black 1px;
}
div#displyResults {
    margin-bottom: 20px;
}
div#pagination {
    margin-bottom: 20px;
}
div.sort {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.sort-wrapper {
    margin-bottom: 20px;
}
.title-text {
    position: absolute;
    top: 40px;
    left: 50px;
}
.headerImage {
    width: 99%;
}
.input-group > input {
    height: 40px;
}